{% load static %}


<div class="row justify-content-center">
  <div class="col-auto">
<div class="text-right">
  <button class="btn btn-primary" _="on click add .actionshow to .actionhide then hide me then show the next <button/>">
    Show Actions
  </button>
  <button class="btn btn-secondary" _="on click remove .actionshow from .actionhide then hide me then show the previous <button/>" style="display: none">
    Hide Actions
  </button>
  <button class="btn btn-primary" id="bulk_todoist" style="display: none" hx-post="{% url 'calorietracker:todoist_add_bulk' %}"
  hx-include="#ftable" hx-target="#messages">
    Bulk Send to Todoist
  </button>
</div>

  <form id="ftable">
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      <div class="custom-checkbox">
        <input class="hcb" type="checkbox" id="checkbox-0" value="" _="on change set .cb.checked to me.checked if me.checked is true show #bulk_todoist else hide #bulk_todoist">
        <label for="checkbox-0" class="blank"></label>
      </div>
    </th>
    <th>Food</th>
    <th>Units Consumed</th>
    <th>UOM</th>
    <th class="actionhide">Action</th>
  </tr>
  </thead>
  <tbody>

  {% for obj in filter.qs %}
    <tr>
    <td>
      <div class="custom-checkbox">
        <input name="names" class="cb" type="checkbox" id="checkbox-{{ obj.food__id }}" value="{{ obj.food__name }}"
        _="on change if .cb.checked.length == .cb.length then set .hcb.checked to true else set .hcb.checked to false then hide #bulk_todoist
         end on change if .cb.checked.length > 0 show #bulk_todoist">
        <label for="checkbox-{{ obj.food__id }}" class="blank"></label>

      </div>
    </td>
      <td> {{ obj.food__name }} </td>
      <td> {{ obj.units_eaten__sum|floatformat }}</td>
      <td> {{ obj.food__uom}}</td>
      <td class="actionhide">
          <button class="btn btn-primary btn-sm"
                  data-hx-get="{% url 'calorietracker:todoist_add' obj.food__id %}"
                  data-hx-confirm="Are you sure you want to add this to Todoist?"
                  data-hx-target="#filter_result_div"
                  data-hx-swap="innerHTML"
          >
          <i class="fa fa-list"></i>
            Add to Todoist
          </button>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </form>

  </div>
</div>
