{% load static %}

<div class="container-fluid">

  <div class="text-right">
    <button class="btn btn-primary" _="on click add .actionshow to .actionhide then hide me then show the next <button/>">
      Show Actions
    </button>
    <button class="btn btn-secondary" _="on click remove .actionshow from .actionhide then hide me then show the previous <button/>" style="display: none">
      Hide Actions
    </button>
    <a data-hx-get="{% url 'calorietracker:newentry' %}" data-hx-target="#foodlog" class="btn btn-success" type="button">
      <i class="fa fa-plus"></i>
    </a>
  </div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Food</th>
    <th>Serving Unit</th>
    <th>UOM</th>
    <th class="text-right">Calories</th>
    <th class="actionhide">Action</th>
  </tr>
  </thead>
  <tbody>

  {% for food in object %}
    <tr>
      <td> {{ food.name }} </td>
      <td> {{ food.serving_unit }}</td>
      <td> {{ food.uom}}</td>
      <td class="text-right">{{ food.calories|floatformat:0 }}</td>
      <td class="actionhide">
        <div style="display: flex; justify-content: space-between">
          <button class="btn btn-sm"
                  data-hx-delete="{% url 'calorietracker:food_update' food.id %}"
                  data-hx-target="#foodlog"
                  data-hx-push-url="true"
                  data-hx-swap="innerHTML"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger btn-sm"
                  data-hx-delete="{% url 'calorietracker:deletefood' food.id %}"
                  data-hx-confirm="Are you sure you want to delete this?"
                  data-hx-target="#foodlog"
                  data-hx-swap="innerHTML"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>
